    html{
    height: 100%;
    }

    header {
        align-content:right;
        width: 200px;
        height: 30px;
        text-align: left;
        flex:3;  
    }

    img {
        float:left;
        cursor: pointer;
        border-radius: 50%;
    }

    .Maya{
        width: 10%;
    }

    h1, h2 {
        margin:10px;
        font-size: 20px;
        color:rgb(29, 22, 31);
    }

    body{
        min-height: 200%;
        display:flex;
        flex-direction: column;
        background-color: #f5f1f5;
        margin: 500px;
        margin-top: 100px;
        padding:50px;
    }

   #job-title{
     color: rgb(34, 36, 34);
     padding: 10px;
   }

    #side-menu{
       border-radius:15px;
       float: 1;
       padding: 5px;
       background-color:rgba(127, 199, 177, 0.534);
       animation: leftside 15s infinite;
    }
        @keyframes leftside{
        0% {background-color:rgba(127, 199, 177, 0.534);}
        25% {background-color: rgb(174, 226, 76);}
        50% {background-color: rgb(103, 136, 209);}
        100% { background-color: rgb(77, 148, 77);}
    }

    #top-menu-bar  {
        border-radius: 15px;
        height: 20px;
        padding: 10px;
        text-align: center;
        background-color: #1e3d38;
    }
    
    #top-menu-bar li{
        display: inline;
        margin: 5px;
        padding:0px;
    }     
    #top-menu-bar a {
        text-decoration: none;
         padding: 5 15px 5 15px;
         color: rgb(36, 32, 32);
         display: inline-block;
    }   

    #top-menu-bar a:visited {
        color:rgb(242, 248, 244)
    }

    #top-menu-bar a:hover, #top-menu-bar a.active
     {
         color:#11171f;
         background: rgb(175, 141, 141)
    }

    .page {
        border-radius: 15px 50px 30px;
        width:initial;
        background-color: rgb(250, 252, 250);
        margin: 2px 0;
        padding: 100px;
        box-shadow: 0 0 0 0.1px;
        
    }

    li {
        color:rgb(11, 44, 34);
    }

    #skills li{
        font-weight: 800;
    }

    #skills li span {
        color:grey;
    } 

    table {
        background-color:rgb(157, 179, 160)
    }

    header, #side-menu section {
         padding: 2px;
        } 

    #content{
            margin: 5px;
            padding: 4px;
        }

    #side-menu, #main {
        margin: 2px;
        padding: 2px;
        flex:1;
        }
    
    header, body , section {
       flex: 1;
    }

    #content {
        flex: 4;
        flex-direction:row;
        display:flex;
    }

    #main {
        border-radius: 15px 50px 30px;
        background-color: rgb(165, 175, 170);
        flex: 4;
    }

    footer {
        border-radius: 15px;
        bottom: 10px;
        height: 10px;
        min-height:20px;
        text-align: center;
        background-color: #1e3d38;
    } 
    footer a{
        color:white;
    }

    p {
    
        font-family: Arial, Helvetica, sans-serif;
    }

    header, footer, #side-menu section {
        margin: 2px;
        padding: 4px;
        } 

    #content{
        margin: 2px;
        padding: 4px;
        flex: 4;
        flex-direction:row;
        display:flex;
        }
    #side-menu, #main {
        margin: 2px;
        padding: 2px;
        }

    #motto{
        font-style: italic;
        display: flex;

        }

    header, section {
    flex:1;
    }
