    html{
    height: 100%;
    }
    div {
        background-color: rgb(255, 249, 251);
}
    head {
        text-align: center;
    }
    img {
        cursor: pointer;
        border-radius: 50%;
    }
    .Maya{
        display:block;
        margin-left:auto;
        margin-right:auto;
        width: 10%;
    }

    #header{
     background-color: rgb(61, 61, 49);
     align-content:stretch;
     padding: 100px;
     width: 200px;
     height: 250px;
    }
    h1, h2 {
        text-align: center;
        color:rgb(42, 38, 43);
    }

    body{
        margin: 500px;
        margin-top: 100px;
        min-height: 200%;
        background-color: #ebd3e5;
        padding:100px;
        flex-direction: 4;
        min-height: 100%;
        display:flex;
    }
   #job-title{
     color: rgb(26, 31, 27);
     text-align:right;
   }
    #side-menu{
       float: 1;
       padding: 30px;
   }

    #top-menu-bar  {
        text-align: center;
        color:rgb(228, 241, 232);
        background-color: #636162;
    }
    #top-menu-bar li{
        display: inline;
        margin: 5px;
        padding:5px;
    }     
    #top-menu-bar a {
        text-decoration: none;
         padding: 5 15px 5 15px;
         color: rgb(122, 24, 24);
         display: inline-block;
    }   

    #top-menu-bar a:visited {
        color:rgb(242, 248, 244)
    }

    #top-menu-bar a:hover{
         color:#334455;
         background: #fff
    }

      .page {
          background-color: rgb(234, 250, 237);
          margin: 5px 0;
          padding: 15px;
          box-shadow: 0 0 0 1px;
          border-radius: 2px;     
    }

    li {
        color:rgb(42, 43, 35);
    }
    table {background-color:rgb(195, 209, 197)}

    header, #side-menu section {
         margin: 2px;
         padding: 4px;
        } 
    #content{
            margin: 10px;
            padding: 4px;
        }
    #side-menu, #main {
        margin: 2px;
        padding: 4px;
        }
    
    header, body , section {
       flex:1;
    }
    #content {
        flex: 4;
        flex-direction:row;
        display:flex;
    }
    #side-menu{
        flex: 1;
    }
    #main {
        flex: 4;
    }
    footer {
        height: 4px;
        text-align: center;
        background-color: rgb(210, 228, 210);
    } 
    #foot {
        align-content: flex-end;
    }    