    html{
    height: 100%;
    }
    div {
        background-color:rgb(250, 250, 250);
}
    head {
        padding: 30px;
        text-align: center;
    }
    img {
        cursor: pointer;
        border-radius: 50%;
    }
    .Maya{
        display:block;
        margin-left:auto;
        margin-right:auto;
        width: 10%;
    }

    #header{
     background-color:rgb(171, 226, 220) ;
     align-content:stretch;
     padding: 50px;
     width: 200px;
     height: 250px;
    }
    h1, h2 {
        font-size: 20px;
        text-align: center;
        color:rgb(29, 22, 31);
    }

    body{
        margin: 500px;
        margin-top: 100px;
        min-height: 200%;
        background-color: #131213cc;
        padding:100px;
        flex-direction: 4;
        min-height: 100%;
        display:flex;
    }
   #job-title{
     color: rgb(34, 36, 34);
     padding: 10px;
   }
    #side-menu{
       float: 1;
       padding: 30px;
   }

    #top-menu-bar  {
        height: 50px;
        text-align: center;
        color:rgb(228, 241, 232);
        background-color: #366074;
    }
    #top-menu-bar li{
        display: inline;
        margin: 5px;
        padding:0px;
    }     
    #top-menu-bar a {
        text-decoration: none;
         padding: 5 15px 5 15px;
         color: rgb(36, 32, 32);
         display: inline-block;
    }   

    #top-menu-bar a:visited {
        color:rgb(242, 248, 244)
    }

    #top-menu-bar a:hover,
    #top-menu-bar a.active {
         color:#11171f;
         background: rgb(231, 227, 227)
    }

      .page {
          background-color: rgb(250, 253, 250);
          margin: 5px 0;
          padding: 15px;
          box-shadow: 0 0 0 1px;
          border-radius: 2px;     
    }

    li {
        color:rgb(133, 5, 90);
    }

    #skills li{
        font-weight: 800;
    }

    #skills li span {
        color:grey;
    } 

    table {background-color:rgb(157, 179, 160)}

    header, #side-menu section {
         margin: 2px;
         padding: 4px;
        } 
    #content{
            margin: 10px;
            padding: 4px;
        }
    #side-menu, #main {
        margin: 4px;
        padding: 4px;
        }
    
    header, body , section {
       flex:1;
    }
    #content {
        flex: 4;
        flex-direction:row;
        display:flex;
    }
    #side-menu{
        flex: 1;
    }
    #main {
        background-color: rgb(216, 216, 199);
        flex: 4;
    }
    footer {
    
        height 4px;
        text-align: center;
        background-color: rgb(210, 228, 210);
    } 
    #foot {
        align-content: flex-end;
    }    